.img {
    text-align: center;
    padding-top: 20px;
    position: relative;
    &:before, &:after {
        content: '';
        display: block;
        background: #000;
        width: 60px;
        height: 1px;
        position: absolute;
        left: 33%;
        top: 34px;
    }
    &:after {
        left: unset;
        right: 33%;
    }
}

.imgSecond {
    text-align: center;
    padding-top: 20px;
    position: relative;
    &:before, &:after {
        content: '';
        display: block;
        background: #000;
        width: 60px;
        height: 1px;
        position: absolute;
        left: 45%;
        top: 34px;
        @media screen and (max-width: 900px){
            left: 38%;
        }

        @media screen and (max-width: 576px){
            left: 35%;
        }

        @media screen and (max-width: 420px){
            left: 29%;
        }
    }
    &:after {
        left: unset;
        right: 45%;

        @media screen and (max-width: 900px){
            right: 38%;
        }

        @media screen and (max-width: 576px){
            right: 35%;
        }

        @media screen and (max-width: 420px){
            right: 29%;
        }
    }
}