.card {
    width: 220px;
    height: 240px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.65);
    padding: 20px;
    &-img {
        width: 151px;
        height: 130px;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.05)
    }
    &-text {
        text-align: center;
        margin-top: 14px;
    }
    &-price {
        text-align: right;
        font-weight: 700;
        margin-top: 10px;
    }
    &-country {
        margin-top: 14px;
        text-align: right;
    }
}