.promo {
    width: 100%;
    min-height: 50vh;
    transform: translateY(-31%);
    padding-bottom: 30px;

    @media screen and (max-width: 576px){
        transform: translateY(-33%);
    }
    &-svg {
        position: relative;
        &:before, &:after {
            content: '';
            display: block;
            background: white;
            width: 60px;
            height: 1px;
            position: absolute;
            left: 43%;
            top: 15px;
            @media screen and (max-width: 900px){
                left: 38%;
            }

            @media screen and (max-width: 576px){
                left: 35%;
            }

            @media screen and (max-width: 420px){
                left: 29%;
            }
        }
        &:after {
            left: unset;
            right: 43%;
            @media screen and (max-width: 900px){
               right: 38%;
            }

            @media screen and (max-width: 576px){
                right: 35%;
            }

            @media screen and (max-width: 420px){
                right: 29%;
            }
        }
    }
    svg {
        margin: 0 auto;
        margin-top: 35px;
        display: block;
        path {
            fill: white;
        }
    }
    &-subtitle {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        margin-top: 30px;
        max-width: 530px;
        line-height: 44px;
        @media screen and (max-width: 900px){
            font-size: 20px;
            margin-top: 20px;
            line-height: 35px;
        }

        @media screen and (max-width: 576px){
            font-size: 17px;
            margin-top: 11px;
            line-height: 26px;
        }
    }
    .promo-link {
        display: block;
        margin: 0 auto;
        margin-top: 36px;
        border: 1px solid #FFF;
        border-radius: 4px;
        width: 130px;
        height: 30px;
        text-align: center;
        line-height: 27px;
    }
    &-ourcoffee {
        min-height: 35vh;
        transform: translateY(-56%);
        @media screen and (max-width: 900px){
            transform: translateY(-71%);
        }
    }
}